recursive-include ulysses *.txt
recursive-include ulysses *.dat
recursive-include ulysses *.npz
recursive-include ulysses *.csv
recursive-include NumbaQuadpack *.c
recursive-include NumbaQuadpack *.h
